<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "comet.thunderguy77.edu.mit.scratch"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Comet</name>

    <description>
        An app made using Scratch, GitHub, and PhoneGap. Just a beta test. Do not sue.
    </description>

    <author href="http://scratch.mit.edu/users/thunderguy77" email="thunderguyspam@gmail.com">
        thunderguy77
    </author>

</widget>
